src/main/mule/frst.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9412f1ae-f09d-4dea-961e-3186a3f25fb1" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fb6710e8-f6de-4f14-b794-bcc720ea02ef" >
		<http:request-connection host="mu.mulesoft-training.com" port="80" />
	</http:request-config>
	<flow name="frstFlow" doc:id="9b8fa2ac-beee-40be-8603-b48afb2e4d18" >
		<http:listener doc:name="Listener" doc:id="4003409a-6fda-4742-9167-e9954194f966" config-ref="HTTP_Listener_config" path="/frst"/>
		<http:request method="GET" doc:name="Request" doc:id="c60f03c3-a604-46c7-acd2-d780c699cca9" config-ref="HTTP_Request_configuration" path="/essentials/united/flights"/>
		<logger level="INFO" doc:name="Logger" doc:id="4311ab0f-8cd5-4968-93cc-e0bbda8a47e7" message="#[payload]"/>
	</flow>
</mule>
